body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.Top {
    height: 120px;
    width: 100%;
    background-color: #f8bfc9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.logo {
    font-family: 'Brush Script MT';
    font-size: 48px;
    color: #d75e96;
    letter-spacing: 2px;
}


.Bildgrejerna {
    background: #f697b6;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px;
}

.Bildgrejerna:hover {
    transform: translateY(-5px);
}

.Bilderna {
    width: 100%;
    height: 400px;
    background-color: #fff;
    border-style: ridge;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.Banan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 80px;
}


.Bilderna img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.3s;
}

.Bilderna:hover img {
    width: 95%;
    height: 95%;
}

.caption {
    text-align: center;
    color: #840e61;
    font-size: 16px;
    padding: 15px;
}
