body {
    background: #fee6ff;
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #363e5a;
    line-height: 1.5;
}

img {
    width: 1050px;
    height: 300px;
    border-radius: 5%;
}


.recept-titel {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background: #faace3;
    border-radius: 15px;
    color: white;
}



.recept-grej {
    padding: 15px;
    border-radius: 15px;
    background: #f6e6f6;
    display: flex;
    justify-content: space-between;
}

h3 {
    color: #ce4298;
    margin-top: 0;
}

ul li {
    margin-bottom: 8px;
}

ol li {
    margin-bottom: 50px;
}


